{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %} 
<br>
<br>
      <!-- Page Heading -->
      <h1 class="my-4">List of the Alif Capital workers
        <small>2018</small>
      </h1>
 
<div class="row">

  {% for worker in workers %}

  <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" width="700px" height="300px"  src="{{ worker.WorkerPhoto.url }}" alt=""></a>
        <div class="card-body">
          <h6 class="card-title">
            <a href="#">{{ worker.Name }} {{ worker.Surname }}</a>
            
          </h6>
          <p class="card-text">
            
            <span><b>Name:</b> {{ worker.Name }}  </span> <br>
            <span><b>Joined:</b> {{ worker.JoinDate }}  </span> <br>
            <span><b>Department:</b> {{ worker.Department }}  </span> <br>
            
          
          </p>
          <br>
          <a class="btn btn-primary" href="/worker_details/{{ worker.id  }}/">View tour</a>

        </div>
      </div>
    </div>


    {% empty %}
    <h4>Sorry, no items in this page.</h4>
    <p>Coming soon...</p>
  {% endfor %}




      </div> 

<br>


{% endblock content %} 